body {
    margin: 0;
}

h1{
    color: #f1e50d;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    margin: 33px 50px 0px 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 38px; 
   
}

#user-info {
    color: #f1e50d;
    text-align: center;
    font-size: 20px;
    font-style: bold;

}

input {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: 24.393px; 
    background: #6943FF;
    border-radius: 5px;
    border: 2px solid #B295FF;
    margin-top: 30px;
    min-width: 30px;
    height: 83px;
    flex-shrink: 0;
    

    }

#part-1 {
    display: flex;
    flex-direction: column;
    text-align: center;  
    background: #6943FF;  
    align-items: center;
}

#part-2 {
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    text-align: center;    
    background: #1F2937;
    column-gap: 23px;
    width: 100%;
    height: 100%;
}

.metric {
    display: flex;
    flex-direction: column;
    text-align: center; 
    background: #273549;
    margin: 24px 25px 0 25px;
    
}

.name {
    color: #CCC1FF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
    margin-bottom: 4;
}

.measure {
    color: #f1e50d;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    margin-top: 0;
        
}

button {
    padding: 9px 27px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border: none;
    margin: 26px 216px 34px 216px;
}

button:hover{
    background: #f5df38;
    color: rgb(44, 10, 92);
}